<%= form_with(model: officer, local: true) do |form| %>
<div class="informative">
<div class="row">
  <div class="col">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "form-control", required: true %>
  </div>

  <div class="col">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "form-control", required: true %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", required: true %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

  <div class="col">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", required: true %>
  </div>

</div>
<small class="form-text text-muted">
  Le mot de passe doit faire au moins 8 caractères de long, contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et 1 charactère spécial.
</small>
<div class="row">
  <div class="col">
    <%= label_tag :code %>
    <%= text_field_tag :code, nil, class:"form-control", required: true  %>
  </div>
</div>
</div>
<hr/>
  <div class="row">
    <%= form.submit "S'enregister", class:"submit btn-lg btn-primary mx-auto"%>
  </div>

<% end %>
