
    <h1>Demande de droit d'accès de: <%= @user.name + " " + @user.surname %>/h1>
    <p>
    Bonjour,
    </p>
    <p>
      Vous avez reçu une nouvelle demande de droit d'accès consultable à cette adresse:
      <a href="rgpd.madparis.fr/users">rgpd.madparis.fr/users</a>
    </p>

    <p>Voici les informations fournies par l'utilisateur:</p>

    <p>Prénom: <%= @user.name %> | Nom: <%= @user.surname %></p>
    <p>Courriel: <%= @user.email %></p>
    <p>Adresse: <%= @user.address %></p>
    <p>Ville: <%= @user.city %> | <%= @user.zipcode %></p>
    <hr>
