
<div class = "row">
<h1 class="mx-auto page-title">Requêtes</h1>
</div>
<%= render partial: "layouts/flash_notice" %>

    <% @users.each do |user| %>
    <div class = "informative user-bubble">
      <div class="row">
        <div class="col">
          <span class="attribute_title">Prénom:</span>   <%= user.name %>
        </div>
        <div class="col">
          <span class="attribute_title">Nom:</span>   <%= user.surname %>
        </div>
        </div>
        <div class="row">
          <div class="col">
              <span class="attribute_title">Courriel:</span>   <%= user.email %>
          </div>
          </div>
          <div class = "row">
          <div class="col">
            <span class="attribute_title">Téléphone:</span>   <%= user.phone %>
          </div>
        <div class="col">
          <span class="attribute_title">Adresse:</span>   <%= user.address %>
        </div>
        </div>
        <div class = "row">
        <div class="col">
          <span class="attribute_title">Ville:</span>   <%= user.city %>
        </div>
        <div class="col">
          <span class="attribute_title">Code postal:</span>   <%= user.zipcode %>
        </div>
        </div>
<div class = "row user_methods">
        <%= link_to 'Voir', user, class:"btn btn-primary mr-auto" %>
        <%= link_to 'Supprimer', user, method: :delete, class:"btn btn-danger ml-auto",
                              data: { confirm: 'Êtes-vous sûr?' } %>
</div>
      </div>
    <% end %>
<br>

<%= link_to 'New User', new_user_path %>
