
<div class = "row">
<h1 class="mx-auto page-title">Utilisateurs</h1>
</div>
<% if @users.empty? %>
<% flash.now[:danger] = "Aucun utilisateur avec ce nom de famille n'a été trouvé." %>
<% end %>

<%= render partial: "layouts/side_nav" %>
<%= render partial: "layouts/flash_notice" %>
    <% @users.each do |user| %>
    <div class = "informative user-bubble  mx-auto">
      <div class="row">
        <div class="col">
          <span class="attribute_title">Prénom:</span>   <%= user.name %>
        </div>
        <div class="col">
          <span class="attribute_title">Nom:</span>   <%= user.surname %>
        </div>
        </div>
        <div class="row">
          <div class="col">
              <span class="attribute_title">Courriel:</span>   <%= user.email %>
          </div>
          </div>
          <div class = "row">
          <div class="col">
            <span class="attribute_title">Téléphone:</span>   <%= user.phone %>
          </div>
        <div class="col">
          <span class="attribute_title">Adresse:</span>   <%= user.address %>
        </div>
        </div>
        <div class = "row">
        <div class="col">
          <span class="attribute_title">Ville:</span>   <%= user.city %>
        </div>
        <div class="col">
          <span class="attribute_title">Code postal:</span>   <%= user.zipcode %>
        </div>
        </div>
<div class = "row user_actions">
        <%= link_to "<i class='fas fa-eye'></i>".html_safe, user, class:"btn btn-primary mr-auto" %>
        <%= link_to "<i class='fas fa-archive'></i>".html_safe, users_archive_path(user), class:"btn btn-warning ml-auto" %>
</div>
      </div>
    <% end %>
<br>
