<%= form_with(model: unsubscription, local: true) do |form| %>
  <% if unsubscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unsubscription.errors.count, "error") %> prohibited this unsubscription from being saved:</h2>

      <ul>
      <% unsubscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :kind%>
  <%= form.label :kind %><br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
