<%= render partial: "layouts/side_nav" %>
<div class="row">
  <h1 class="page-title mx-auto">Traitements</h1>
</div>
<%= render partial: "layouts/flash_notice", locals: {object: @unsubscriptions.last} %>
<hr>

<div class="informative">
  <div class= "row">
    <div class="col-1 attribute_title">
      ID
    </div>
    <div class= "col-md-3 attribute_title">
      Titre
    </div>
  </div>
      <% @unsubscriptions.each do |unsubscription| %>
      <% if !unsubscription.reason_specific %>
        <div class="row entry">
          <div class = "col-1">
           <%= unsubscription.id %> |
          </div>
          <div class = "col">
            <%= unsubscription.kind %>
          </div>
          <div class = "ml-auto"%>
          <%= link_to '<span class="fas fa-eye">'.html_safe, unsubscription, title:"Voir", class:"btn btn-primary" %> |
          <%= link_to '<span class="fas fa-cog">'.html_safe, edit_unsubscription_path(unsubscription), title:"Modifier", class:"btn btn-warning" %> |
          <%= link_to '<span class="fas fa-trash-alt">'.html_safe, unsubscription, method: :delete, data: { confirm: 'Êtes-vous sûr? Cet action est irréversible.' }, title: "Supprimer",class:"btn btn-danger" %>
          </div>
        </div>
        <% end %>
      <% end %>
</div>

<br>

<%= link_to '<span class="fas fa-plus"></span> Nouveau'.html_safe, new_unsubscription_path, class:"btn btn-success" %>
