<p id="notice"><%= notice %></p>

<h1>Unsubscriptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unsubscriptions.each do |unsubscription| %>
      <tr>
        <td><%= link_to 'Show', unsubscription %></td>
        <td><%= link_to 'Edit', edit_unsubscription_path(unsubscription) %></td>
        <td><%= link_to 'Destroy', unsubscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unsubscription', new_unsubscription_path %>
