<%= render partial: "layouts/flash_notice", locals: {object: @requests.last} %>

<div class="row">
  <h1 class="page-title mx-auto">Types de demande</h1>
</div>
<hr>

<div class="informative">
  <table>
    <thead>
      <tr>
        <th colspan="2">ID</th>
        <th colspan="2">Titre</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td colspan="2"><%= request.id %> |</td>
          <td colspan="2"> <%= request.title %></td>
          <td><%= link_to '<span class="fas fa-eye">'.html_safe, request, class:"btn btn-primary" %></td>
          <td><%= link_to '<span class="fas fa-cog">'.html_safe, edit_request_path(request), class:"btn btn-warning" %></td>
          <td><%= link_to '<span class="fas fa-trash-alt">'.html_safe, request, method: :delete, data: { confirm: 'Êtes-vous sûr? Une telle action peut engendrer des bugs.' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to '<span class="fas fa-plus"></span> Nouveau'.html_safe, new_request_path, class:"btn btn-success" %>
