<div class="row">
  <h1 class="page-title mx-auto">Types de demande</h1>
</div>
<%= render partial: "layouts/flash_notice", locals: {object: @requests.last} %>
<hr>

<div class="informative">
  <div class= "row">
    <div class="col-1 attribute_title">
      ID
    </div>
    <div class= "col-md-3 attribute_title">
      Titre
    </div>
  </div>
      <% @requests.each do |request| %>
        <div class="row entry">
          <div class = "col-1">
           <%= request.id %> |
          </div>
          <div class = "col">
            <%= request.title %>
          </div>
          <div class = "ml-auto"%>
          <%= link_to '<span class="fas fa-eye">'.html_safe, request, title:"Voir", class:"btn btn-primary" %> |
          <%= link_to '<span class="fas fa-cog">'.html_safe, edit_request_path(request), title:"Modifier", class:"btn btn-warning" %> |
          <%= link_to '<span class="fas fa-trash-alt">'.html_safe, request, method: :delete, data: { confirm: 'Êtes-vous sûr? Une telle action peut engendrer des bugs.' }, title: "Supprimer",class:"btn btn-danger" %>
          </div>
        </div>
      <% end %>
</div>

<br>

<%= link_to '<span class="fas fa-plus"></span> Nouveau'.html_safe, new_request_path, class:"btn btn-success" %>
