<div class="row">
  <h2 class="mx-auto page-title">Demande de limitations de traitement des données</h2>
</div>
<%= render "layouts/flash_notice", object: @user %>

<div class="mx-auto" style="font-size: 1em;">
  <div class="row">
    <div class="informative mx-auto col-md-8">
      <%= form_for @user, method: :PATCH do |f| %>
        <%= hidden_field_tag :user_id, @user.id %>

        <%= f.fields_for :choices do |builder|%>

          <% if !builder.object.unsubscription.reason_specific %>
            <div class="form-check checkbox-group">
              <%= builder.check_box :completed, class:"form-check-input required" %>
              <%= builder.label builder.object.unsubscription.kind,
                      class: "form-check-label" %><br />
            </div>
          <% end %>

      <%end %>
    </div>

  </div>
  <div class="row">
    <%= f.submit "Valider", class: "btn-lg btn-primary mx-auto submit"%>
  </div>
  <%end %>
</div>
<hr/>
<div class="row">
  <h5 class="mx-auto" style="padding: 30px 0px 30px 0px;">Aucune de ces propositions ne vous convient? Dites-nous comment nous pouvons vous aider:</h5>
</div>
<div class="informative col-md-8 mx-auto">




  <%= form_for @unsubscription, class:"form-inline" do |f| %>
    <%= f.label :kind, "Autres" %>
    <%= f.text_field :kind, class:"form-control", required: true %>
    <%= f.hidden_field :reason_specific, value: true %>
    <%= hidden_field_tag :user_id, @user.id %>

      <%= f.submit "Valider", class: "btn btn-primary submit"%>
      <% end %>
  </div>




<%= link_to "Revenir au formulaire", root_path, class:"btn btn-primary",
style:"margin: 30px;" %>
