<div class="row">
  <h1 class="page-title mx-auto">New Request</h1>
</div>
<%= render "layouts/flash_notice" %>

<%= form_for @request do |f| %>
<div class="row">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", required: true %>
  <%= f.submit '<span class="fas fa-plus">Ajouter</span>'.html_safe %>
  </div>
<% end %>

<%= link_to 'Back', requests_path %>
