<div class="row">
  <h1 class="page-title mx-auto">Nouveau type de demande</h1>
</div>
<%= render "layouts/flash_notice" %>

<%= form_for @request do |f| %>
<div class="col-12 informative">
  <div class="mx-auto">
    <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", required: true %>
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
  <span class="fas fa-plus"></span> Ajouter
<% end %>
  </div>
</div>

<% end %>

<%= link_to 'Retour', requests_path, class:"btn btn-search" %>
