<% @years = User.select("created_at").map{ |item| item.created_at.year }.uniq %>
<div class="informative">
  <table>
    <tr>
      <th scpoe = "col">Année</th>
      <% Request.all.each do |request| %>
      <th scope="col"><%=request.title%></th>
      <% end %>
      <th scope="col">Total</th>
    </tr>
    <tbody>
      <%= @years.each do |year| %>
      <tr>
        <th scope="row"><%= year %></th>
        <% Request.all.each do |request| %>
          <td><%= request.users.where('extract(year from created_at) = ?', year).count %></td>
        <% end %>
        <td><%= User.where('extract(year from created_at) = ?', year).count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
