<div class="row">
  <div class="navbar navbar-expand-lg ">
  <a class="navbar-brand" id = "logo" href="#">RGPD</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item col">
        <%= link_to "Accueil", users_path %>
      </li>
      <li class="nav-item col">
        <%= link_to "Archives", cemetary_path %>
      </li>
      <li class="nav-item col">
        <%= link_to "Demandes", requests_path %>
      </li>
      <li class="nav-item col">
        <%= link_to "Traitements", unsubscriptions_path %>
      </li>
      <li class="nav-item col">
        <%= link_to "Statistiques", stats_show_path %>
      </li>
      </ul>
      <% goal = url_switcher %>
      <% if goal %>

        <%= form_tag(goal, method: :get, class: "form-inline") do %>

          <%= text_field_tag :term, params[:term],
           placeholder: "Nom", class: "col form-control", id:"nav-search" %>
             <button type="submit" class=" col btn btn-search" >
                  <span class='fas fa-search'></span>
            </button>
        <% end %>
        <% end %>
        </div>
    </div>
  </div>
