<div class = "mandatory">
  <h3 class="text-center">Informations obligatoires</h3>
  <div class = "row form-group">
    <div class = "col">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class = "col">
      <%= f.label :surname %><br>
      <%= f.text_field :surname, class: "form-control", required: true %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>
</div>

<div class = "facultative">
  <h3 class="text-center">Informations facultatives</h3>
  <%= f.label :phone %><br>
  <%= f.text_field :phone, class: "form-control" %>

  <%= f.label :address %><br>
  <%= f.text_field :address, class: "form-control"%>

  <div class = "row form-group">
    <div class= "col">
      <%= f.label :city %><br>
      <%= f.text_field :city, class: "form-control"%>
    </div>

    <div class= "col">
      <%= f.label :zipcode %><br>
      <%= f.text_field :zipcode, class: "form-control"%>
    </div>
  </div>
</div>
<hr/>

<% if f.object.has_attribute? :request_id %>
<div class="radio">

<% Request.all.each do |request| %>
  <div class="form-check col">
    <%= f.radio_button :request_id, request.id, class:"form-check-input"%>
    <%= f.label :request_id, request.title, class: "form-check-label"%><br />
  </div>
  <% end %>

</div>
<% end %>
<hr/>
  <div class="row">
    <div class="g-recaptcha mx-auto" id = "captcha" data-sitekey="6LdFUoMUAAAAABKpmO3W8AQh71hunGY6FkOnLR2K"></div>
  </div>
  <hr />

<div class="row">
  <%= f.submit "Envoyer", class: "btn-lg btn-primary center submit"%>
</div>
